# Maven
target/

# Logs
logs
*.log

# IDE files
.idea/
.vscode/
*.iml
*.classpath
*.project
*.settings/

# OS files
.DS_Store
Thumbs.db

# Secrets / Keys
*.pem

# Node (if ever used)
node_modules/

# Build output
out/